body {
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    border-radius: none;
    /* box-shadow: 0 5px 10px rgb(0, 26, 255); */
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container h1 {
    margin-left: 10px; 
    text-align: center;
    align-items: center;
    font-size: 14px;
}

/* Group view list */
#group-view, #detail-list {
    list-style-type: none;
    padding: 0;
}

#group-view li, #detail-list li {
    padding: 5px 15px 5px 5px;
    margin: 5px 0;
    background-color: #004aad;
    /* border-radius: 3px; */
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;    
}

/* Detail view */
#detail-view {
    margin-top: 10px;
}

#back-btn {
    background: none;
    border: none;
    color: #004aad;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 0;
}

#detail-title {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* li {
    margin: 10px 0;
    padding: 10px;
    background-color: #;
    border-radius: none;
    transition: background-color 0.3s;
} */

#group-view li:hover, #detail-list li:hover {
    background-color: #ffffff;
    color: #004aad;
    font-weight: bold;
}

